ul{
  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #333;
}

li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-allign: center;
  padding: 16px 18px;
  text-decoration: none;
}

/* change the link color to  #111 (black) on hover */
li a:hover {
  background-color: #111;
}
